snippet php " add php tags" b
<?php
${0}
endsnippet

snippet phpl "Add php tag in a line" i 
<?php ${0} ?>
endsnippet

snippet cphp "Close php tag in a line" i 
?>
endsnippet

snippet php= "Add echo tag in a line" i 
<?= ${0} ?>
endsnippet

snippet va
$${1:variable} = ${2:valor};
endsnippet

snippet public
public function ${1:functionName}()
{
	${2:content}
}
endsnippet
