snippet adp "Añadir un puntero para acceder con ,, "
<++>
endsnippet

snippet ncm "New basic react structure" b

const ${1:ComponentName} = () =>{

return( <h1>$1</h1> )
}

export default $1
endsnippet
