snippet nrc "New basic react structure" b
import React from "react"

const `!p snip.rv = snip.basename` = () =>{
	return( 
		<div>
			<h1>`!p snip.rv = snip.basename`</h1>
		</div>
 )
}

export default `!p snip.rv = snip.basename`
endsnippet
