snippet nrc "New basic react structure" b
type `!p snip.rv = snip.basename`PropType ={
}

const `!p snip.rv = snip.basename` = ({}:`!p snip.rv = snip.basename`PropType ) =>{

return( <h1>`!p snip.rv = snip.basename`</h1> )
}

export default `!p snip.rv = snip.basename`
endsnippet

snippet doc "create doc" b
/**
 * Test
 * @param parametro1
 * @param parametro2
 * @return string Mas un comentario
 */
endsnippet
